---
import type { appConfigType } from '@core/types'
import hero_1 from '@assets/img/hero-carousel/room-1.jpg'
import hero_2 from '@assets/img/hero-carousel/room-2.jpg'
import hero_3 from '@assets/img/hero-carousel/room-3.jpg'
export interface Props {
  config: appConfigType
}
const { config } = Astro.props
const heroImages = [hero_1, hero_2, hero_3]
---

<!-- ======= Hero Section ======= -->
<section id='hero' class='hero'>
  <div class='info d-flex align-items-center'>
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-lg-6 text-center'>
          <h2 data-aos='fade-down'>
            Welcome to <span>{config.org.title}</span>
          </h2>
          <p data-aos='fade-up'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <a
            data-aos='fade-up'
            data-aos-delay='200'
            href='#get-started'
            class='btn-get-started'>Get Started</a
          >
        </div>
      </div>
    </div>
  </div>

  <div
    id='hero-carousel'
    class='carousel slide carousel-fade'
    data-bs-ride='carousel'
    data-bs-interval='5000'
  >
  {
    heroImages.map((image, index) => (
      <div
        class={`carousel-item ${index === 0 ? 'active' : ''}`}
        style={`background-image: url(${image.src})`}
      />
    ))
  }
    <a
      class='carousel-control-prev'
      href='#hero-carousel'
      role='button'
      data-bs-slide='prev'
    >
      <span
        class='carousel-control-prev-icon bi bi-chevron-left'
        aria-hidden='true'></span>
    </a>

    <a
      class='carousel-control-next'
      href='#hero-carousel'
      role='button'
      data-bs-slide='next'
    >
      <span
        class='carousel-control-next-icon bi bi-chevron-right'
        aria-hidden='true'></span>
    </a>
  </div>
</section><!-- End Hero Section -->

