<div id='preloader'></div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const preloader = document.querySelector('#preloader')
    if (preloader) {
      window.addEventListener('load', () => preloader.remove())
    }
  })
</script>
